:root {
  --main-bg-color: #d3d3d3;
  --default-column-padding: 15px;
}
body,ul,li {
  padding: 0;
  margin: 0;
}
body {
  background:lightgrey;
}
#header {
  & .header_wrapper {
    display: flex;
    background: var(--main-bg-color);
    height: 85px;
    flex-direction: row;
    padding-top: var(--default-column-padding);
    & .project_input {
      flex: auto;
      padding-left: var(--default-column-padding)
    }
    & .grand_total {
      width: 5rem;
      position: flex;
      flex-direction: column;
      padding-right: var(--default-column-padding);
      & > span {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
      }
    }
  }
}
.boards {
  display: flex;
  background: var(--main-bg-color);
  flex-wrap: wrap;
  & .board {
     margin-left: 10px;
     margin-right: 10px;
     display: flex;
     flex-direction: column;
     width: 255px;
     flex-wrap: wrap;
     & .board_header {
       display: flex;
       flex-direction: row;
       color: white;
       font-size: 1.5em;
       width: inherit;
       background: gray;
       height: 80px;
       align-items: center;
       &.over {
         border: 2px dashed #000
       }
       & .title {
        display: flex;
        flex: auto;
        padding-left: var(--default-column-padding);
       }
       & .total{
        margin-right: var(--default-column-padding)
       }
     }
     & .projects {
       width: inherit;
       display: flex;
       flex-direction: column;
       list-style-type: none;
       & .project {
        background: white;
        height: 70px;
        border-bottom: 1px solid  var(--main-bg-color);
        border-top: 1px solid  var(--main-bg-color);
        &.over {
          border: 2px dashed #000
        }
        & > div {
          line-height: 70px;
          padding-left: var(--default-column-padding);
        }
       }
     }
  }
}

.total {
  display: flex;
  width: 75px;
  height: 45px;
  border-radius: 2px;
  box-shadow: inset 3px 3px 2px #a5a5a5;
  font-size: 8px;
  background: white;
  flex-direction: column;
  padding: 5px;
  color: grey;
  & span {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50%;
    font-size: 1.7em;
    margin: 0 auto;
    &.number {
      font-weight: bold;
      color: black;
    }
  }
  }
